{% extends 'base.html.twig' %}

{% block title %}Ajouter une nouvelle photo{% endblock %}


{% block body %}

    {# Affiche les erreurs d'un formulaire grâce à la méthode getErrors()
        <div class="alert alert-danger">
            {% for error in errors %}
                <p>{{ error.message }}</p>
            {% endfor %}
        </div>
    #}  


    <div class="row w-75 mx-auto">
            <div class="col">
                <h1 class="my-5"> Nouvelle photo </h1>

                
                {{ form_start(formUpload) }}
                    {{ form_rest(formUpload) }}
                    <button class="btn btn-primary my-3">Envoyer ma photo</button>
                {{ form_end(formUpload) }}


            </div>
    </div>


{% endblock %}