{% extends 'base.html.twig' %}

{% block title %}Se connecter{% endblock %}

{% block body %}
<div class="w-50 mx-auto my-5 pt-5">
    <form method="post">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {% if app.user %}
            <div class="mb-3">
                <p> Vous êtes connecté en tant que {{ app.user.username }} </br> <a href="{{ path('app_logout') }}">Se déconnecter</a> ?</p>
            </div>
        {% endif %}

        <h1 class="my-5">Se connecter</h1>
        <label for="inputEmail">Email</label>
        <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control mt-1 mb-2" required autofocus>

        <label for="inputPassword">Mot de passe</label>
        <input type="password" name="password" id="inputPassword" class="form-control mt-1 mb-2" required>

        <input type="hidden" name="_csrf_token"
            value="{{ csrf_token('authenticate') }}">

        
            {# Uncomment this section and add a remember_me option below your firewall to activate remember me functionality. 
            See https://symfony.com/doc/current/security/remember_me.html #}

            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" name="_remember_me"> Se souvenir de moi 
                </label>
            </div>
        
        <div class="row px-2">
            <button class="btn btn-block btn-primary mt-5" type="submit">
                Se connecter
            </button>
        </div>
    </form>
</div>

{% endblock %}
