{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <h1 class="text-center text-dark my-5 display-2"> Hello ! </h1>

    {# Catégories #}
    {# for est l'équivalent de foreach() mais la condition est à l'envers #}
    <ul class="nav nav-pills nav-fill mb-5">
        {% for category in categories %}
            <li class="nav-item">
                    {# path() contient le nom de la route vers laquelle nous souhaitons nous rediriger #}
                    <a class="nav-link" href="{{ path('pictures_by_category', { id: category.id }) }}">{{ category.name }}</a>
            </li>
        {% endfor %}
    </ul>

    {# Images #}
    {# for est l'équivalent de foreach() mais la condition est à l'envers #}
    <div class="row mx-auto text-center">
    
        {% for picture in pictures %}
            <div class="col-4 mb-4">
                <a href="{{ path('picture_by_id', { id: picture.id }) }}">
                    {# La concaténation en twig se fait avec un tild "~" #}
                    <img class="rounded" src="{{ asset('uploads/images/photos/'~ picture.image)|imagine_filter('thumbnail') }}" alt="{{ picture.image }}">
                </a>
            </div>
        {% endfor %}
    
    </div>

    <div class="nav justify-content-center my-5">
        
            {{ knp_pagination_render(pictures) }}
        
    </div>

            

{% endblock %}
