{% extends 'base.html.twig' %}

{% block title %}Photos de la catégorie : {{ category.name }} {% endblock %}




{% block body %}

    {# Pas besoin de boucle "for" si vous sélectionnez un seul enregistrement en BDD, un peu comme fetch() en PDO #}
    <h1 class="text-dark my-5"> Catégorie : {{ category.name }} </h1>
    

    <div class="row mx-auto text-center">
        {# images de cette catégorie #}
        {% for picture in pictures %} {# pictures est une variable qui contient toutes nos images paginées #}
            <div class="col-4 mb-4">
                <a href="{{ path('picture_by_id', { id: picture.id }) }}">
                    <img src="{{ asset('uploads/images/photos/'~ picture.image)|imagine_filter('thumbnail') }}" alt="{{ picture.image }}" class="rounded">
                </a>
            </div>

        {% endfor %}
    </div>

                

    <div class="nav justify-content-center my-5">
        
            {{ knp_pagination_render(pictures) }}
        
    </div>

{% endblock %}