{% extends 'base.html.twig' %}


{% block title %}Picture{% endblock %}

{% block body %}

    <h1 class="text-dark my-5 text-center"> En détails </h1>

    <div class="text-center">

        <a href="{{ asset('uploads/images/photos/'~ picture.image) }}">
            <img class="rounded" src="{{ asset('uploads/images/photos/'~ picture.image)|imagine_filter('midsize') }}" alt="{{ picture.image }}">
        </a>
        
        <p class="card-text"> {{ picture.description }} </p>

        {#<small class="text-muted"> {{ picture.created_at }}</small>#}
        

        <div class="text-muted">
            <p>Tags: #{{ picture.tags }}</p>
            <p> Catégorie: {{ picture.category.name }}</p>
        </div>
        

    </div>

    <hr>

    <h2 class="text-dark my-5 text-center"> Dans la même catégorie </h2>

    <div class="row">
    {#le deuxième "picture" correspond aux infos de notre image, à partir de cette image, nous allons chercher la catégorie reliée à l'image "picture.category" et à partir de cette catégorie, nous avons la possibilité de récupérer toutes les images liées à cette même catégorie "picture.category.pictures" #}
        {% for photo in photos %}
            {#
                !== s'écrit en twig: is not same as()
                === s'écrit en twig: is same as()
            #}
            {% if photo.image is not same as(picture.image) %}
                <div class="col-4 mb-4">
                    <a href="{{ path('picture_by_id', { id: photo.id }) }}">
                        <img src="{{ asset('uploads/images/photos/'~ photo.image)|imagine_filter('thumbnail') }}" alt="{{ photo.image }}" class="rounded">
                    </a>
                </div>
            {% endif %}
        {% endfor %}
    </div>
        
    <div class="nav justify-content-center my-5">
        
            {{ knp_pagination_render(photos) }}
        
    </div>




    



{% endblock %}