{% extends 'base.html.twig' %}

{% block title %}Contactez-nous{% endblock %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}


    <div class="w-50 mx-auto my-5 pt-5">
        <h1 class="my-5">S'inscrire</h1>
        

            {{ form_start(registrationForm) }}
            
            <div class="row">
                <div class="col">
                    <div class="form-group mb-2">
                        {{ form_row(registrationForm.firstname) }}
                    </div>
                </div>
                <div class="col">
                    <div class="form-group mb-2">
                        {{ form_row(registrationForm.lastname) }}
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="form-group mb-2">
                    {{ form_row(registrationForm.email) }}
                </div>
                <div class="form-group mb-2">
                    {{ form_row(registrationForm.plainPassword.first) }}
                </div>
                <div class="form-group mb-4">
                    {{ form_row(registrationForm.plainPassword.second) }}
                </div>
                <div class="form-group mb-2">
                    {{ form_row(registrationForm.agreeTerms) }}
                </div>
                

                <button type="submit" class="btn btn-block btn-primary my-4">S'inscrire</button>
            </div>

            {{ form_end(registrationForm) }}
    
    </div>
{% endblock %}
