{% extends 'base.html.twig' %}

{% block title %}Admin - Editer une catégorie{% endblock %}


{% block body %}

    <div class="row w-75 mx-auto">
        <div class="col">
            <h1 class="my-5"> Editer une catégorie </h1>

             {{ form_start(formEdit) }}
                    {{ form_rest(formEdit) }}
                    <button class="btn btn-primary my-3">Modifier</button>
                {{ form_end(formEdit) }}

        </div>
    </div>

{% endblock %}