{% extends 'base.html.twig' %}

{% block title %} Espace Admin  {% endblock %}

{% block body %}

    <div class="row">
        <div class="col">
            <h1 class="my-5">Admin - Gestion des catégories </h1>

            {# Affiche un message de succès #}
            {% for message in app.flashes('success') %}
                <div class="alert alert-success">{{ message }}</div>
            {% endfor %}


            <a href="{{ path('admin_new_category') }}" class="btn btn-primary mt-3">Nouvelle catégorie</a>


            <table class="table table-striped text-center">

                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nom</th>
                        <th scope="col">Slug</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>

                <tbody>
                    {% for category in categories %}
                        <tr>
                                
                                <td class="align-middle">{{ category.id }}</td>
                                <td class="align-middle">{{ category.name }}</td>
                                <td class="align-middle">{{ category.slug }}</td>
                                <td class="align-middle">
                                    <a href="#" class="btn btn-secondary">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-pencil-square text-dark" viewBox="0 0 16 16">
                                            <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                            <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                                        </svg>
                                    </a> 
                                        
                                    <button type="button" data-id="#" class="btn btn-danger confirm-delete">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-x-circle-fill text-light" viewBox="0 0 16 16">
                                            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z"/>
                                        </svg>
                                    </button>
                                </td>
                                    
                        </tr>
                        
                    {% else %}
                        <tr>
                            <td class="py-5 text-center text-muted" colspan="4">Aucune catégorie pour le moment :(</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

            <div class="nav justify-content-center my-5">
                    {{ knp_pagination_render(categories) }}
            </div>

        </div>
    </div>


{% endblock %}
