{% extends 'base.html.twig' %}


{% block title %}Admin - Ajouter une nouvelle catégorie {% endblock %}

{% block body %}

    <div class="row w-50 mx-auto">
                <div class="col">
                    <h1 class="my-5"> Admin - Nouvelle catégorie </h1>

                    
                    {{ form_start(formCreateCategory) }}
                        {{ form_rest(formCreateCategory) }}
                        <button class="btn btn-primary my-3">Ajouter</button>
                    {{ form_end(formCreateCategory) }}


                </div>
        </div>

{% endblock %}