<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}

        {% block stylesheets %}
            {#{{ encore_entry_link_tags('app') }}#}

            {# BOOTSTRAP CSS #}
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

            {# CSS Direct #}
            {# 
                asset() pointe le dossier "public", il suffit de terminer le chemin à parcourir.
                A utiliser avec le CSS, JS et images
            #}
            <link href="{{ asset('css/styles.css') }}" rel="stylesheet">
        {% endblock %}



        {% block javascripts %}
            {#{{ encore_entry_script_tags('app') }}#}

            {# BOOTSTRAP JS Bundle #}
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
        {% endblock %}
    </head>
    <body>



        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid w-75">
                <a class="navbar-brand ms-5" href="{{ path('home') }}">Lookimage</a>
                
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav ms-auto me-5 my-4">

                        {% if app.user is null %}
                            <a class="nav-link text-light" href="{{ path('app_register') }}">S'inscrire</a>
                            <a class="nav-link text-light" href="{{ path('app_login') }}">Se connecter</a>
                        {% else %}
                            <a class="nav-link text-light" href="{{ path('account') }}">Salut {{ app.user.firstname }} !</a>
                            <a class="nav-link" href="{{ path('app_logout') }}"> Se déconnecter</a>

                        {% endif %}

                    </div>
                </div>
            </div>    
        </nav>


        <div class="container mx-auto my-5">
            

            {% block body %}{% endblock %}

                
        </div>

    </body>

    
</html>
